<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Reactive Extensions Plugin for Resharper" Language="1033" Version="0.2.1.0" Manufacturer="Ollie Riches" UpgradeCode="de573451-9544-432f-8534-afcb9e43a8b4">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Reactive Extensions Plugin for Resharper" Level="1">
			<ComponentGroupRef Id="ProductComponents"   />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="JET_BRAINS_FOLDER" Name="JetBrains">
          <Directory Id="RESHARPER_FOLDER" Name="ReSharper">
            <Directory Id="VERSION_FOLDER" Name="v7.1">
              <Directory Id="BIN_FOLDER" Name="Bin">
                <Directory Id="PLUGINS_FOLDER" Name="Plugins">
                  <Directory Id="REACTIVE_PLUGIN_FOLDER" Name="Reactive 0.2" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="REACTIVE_PLUGIN_FOLDER">
      <Component Id="Resharper.ReactivePlugin" Guid="482FF8FA-7780-44C6-86BA-85D870CE89B8">
        <File Id="Resharper.ReactivePlugin.dll" Source="..\..\output\Resharper.ReactivePlugin.dll" KeyPath="yes" Checksum="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>